.menu-form-input-container {
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    padding: 16px;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    width: 25%;
    box-shadow: 5px 10px 18px #888888;
    color: whitesmoke;
}

.menu-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #009879;
}

.menu-form-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.menu-form-input{
    height: 32px;
    outline: whitesmoke;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.menu-form-action{
    background-color: #3b4d49;
    border: #EEE;
    height: 25px;
    border-radius: 5px;
    align-content: flex-end;
    color: #ffffff;
}

label {
    color: #009879;
}