@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navigation-container {
    display: flex;
    height: 500px;
    flex-direction: row;
    margin: 0px auto;
    padding: 60px 20px;
    clear: both;
}

.navigation-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    list-style: none;
    padding-top: 20px;
    margin: 0;
    background: rgb(242, 243, 250);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.navigation-sidebar li {
    width: 158px;
    height: 65px;
}

.navigation-sidebar li a {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #777;
    text-align: center;
    height: 36px;
}

.navigation-sidebar li a i {
    display: block;
    margin-bottom: 20px;
    float: left;
    font-size: 20px;
    margin: 0 10px 0 0;    
}

.navigation-sidebar li a strong {
    font-size: 20px;
}

.navigation-sidebar li a small {
    font-size: 10px;
}

.navigation-content {
    flex-grow: 6;
    display: flex;
    justify-content: center;
    padding: 16px 16px 0 16px;
}

.navigation-logout{
    margin-top: 90px;
    width: 100px;
    background-color: #75551e;
    border: #EEE;
    height: 25px;
    border-radius: 5px;
    color: #ffffff;
}